/*GLOBAL*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body, html {
    height: 100%;
}

/*MAIN*/

.banner {
    /*Position and center image to scale on all screens*/
    height: 400px;                  /*Height is 850 pixels of web page*/
    background-position: center;    /*Position image centre on page*/
    background-repeat: no-repeat;   /*Makes sure image doesn't repeat itself*/
    background-size: cover;         /*Image covers container (in frame)*/
    position: relative;             /*Position is relative - Space is allocated for the image container*/
}

#banner1 {
    /*Background image source*/
    background-image: url('images/banner1.jpg');    
}

#banner2 {
    /*Background image source*/
    background-image: url('images/banner2.jpg');   
}

#banner3 {
    /*Background image source*/
    background-image: url('images/banner3.jpg');   
}

#banner4 {
    /*Background image source*/
    background-image: url('images/banner4.jpg');   
}

#home-banner-text {
    /*Text formatting*/
    text-align: center;
    position: absolute;   

    /*Positioning*/
    transform: translate(-50%, -50%);   
    top: 50%; 
    left: 50%;

    /*Text color is white*/
    color: white;
}

#home-banner-text h1 {
    /*Text size (double than standard 1.5rem*/
    font-size: 4rem; 
}

#home-banner-text p {
    font-size: 1.5rem;  /*Font size*/
    padding: 1.5rem;    /*Padding from surround elements*/
    border: solid;
    border-width: 1px;
    border-radius: 30px;
}

/*Home Banner button*/

#home-banner-text button {
    /*Button design*/
    background-image: linear-gradient(black, rgb(47, 47, 47));  /*Button color w/ gradient*/
    border: none;           /*Remove default edges of button, default is brownish*/
    border-radius: 10px;    /*Rounding of button edges*/
    text-decoration: none;

    /*Alignment*/
    position: relative;
    padding: 10px 20px;     /*Padding within button*/
    cursor: pointer;        /*Ensures mouse becomes pointer when hovering*/
    display: inline-block;  /*Allows multiple buttons on the same line*/

    /*Font*/
    color: white;     /*Text color*/
    font-size: 1rem;    /*Font size*/
}

#home-banner-text button:hover {
    /*Text color when hovering on button*/
    color: #55a7d6;
}

/*Icons and links*/

.platform-links a{
    text-decoration: none; /*Gets rid of that wierd link underscore between images*/
}

.platform-links img {
    /*Alignment*/
    position: relative;
    display: block;
    top: 10px;
    height: 50px;
    padding: 5px;
    cursor: pointer;
    display: inline-block;  /*Allows multiple icons on the same line*/
}

/*About banner*/

#about-banner-text {
    position: absolute;
    text-align: center;

    color: white;
    padding: 2rem;

    transform: translate(-50%, -50%);   
    top: 50%;
    left: 50%;
}

#about-banner-text h1 {
    font-size: 4rem;
}

/*Portfolio banner*/
#portfolio-banner-text {
    position: absolute;
    text-align: center;

    color: white;
    padding: 2rem;

    transform: translate(-50%, -50%);   
    top: 50%;
    left: 50%;
}

#portfolio-banner-text h1 {
    font-size: 4rem;
}

/*Contact banner*/
#contact-banner-text {
    position: absolute;
    text-align: center;

    color: white;
    padding: 2rem;

    transform: translate(-50%, -50%);   
    top: 50%;
    left: 50%;
}

#contact-banner-text h1 {
    font-size: 4rem;
}



/*4 - FOOTER*/

/*Footer*/
.footer {
    text-align: center;
    padding: 5px;
    background-color: #1e1e1e;
    color: #ffffff;
    margin-top: 2%;
}


/*----------About---------*/